.color_app_text_1 {
  color: #7d787e; }

.color_app_one {
  color: #a9801d; }

body {
  background: #ecf0f3; }

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 33333; }
  header nav {
    background: #fff;
    position: relative;
    box-shadow: 0px 0px 12px -2px black; }
    header nav .gulp_ico {
      height: 100%; }
    header nav .ico_bar {
      color: #a9801d;
      width: 40px;
      height: 40px;
      font-size: 1.4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      header nav .ico_bar:active {
        background: #ecf0f3; }
  header .input-group {
    border-radius: 0;
    box-shadow: 0px 3px 2px -3px black; }
    header .input-group input {
      border: none !important; }
    header .input-group .dropdown-menu li {
      padding: 2px 10px; }
    header .input-group .dropdown-menu a {
      color: #7d787e;
      display: block; }
      header .input-group .dropdown-menu a:hover {
        border-bottom: 1px solid black;
        text-decoration: none; }
  header .db-ew {
    position: absolute;
    right: 15px;
    top: 0; }
  header .account_new {
    justify-content: center;
    align-content: center;
    position: relative; }
    header .account_new ul {
      display: block;
      position: absolute;
      top: 97%;
      right: -15px;
      width: 103px;
      background: #fff;
      border-radius: 5px;
      padding: 5px;
      border: 1px solid #8e8e8e; }
      header .account_new ul li {
        padding: 5px 0;
        overflow: hidden; }
        header .account_new ul li a {
          display: block;
          color: #7d787e;
          font-size: .9rem;
          transition: all 0.1s linear;
          padding: 5px; }
          header .account_new ul li a:hover {
            box-shadow: 0px 0px 10px -3px black;
            transform: scale(1.03);
            text-decoration: none; }
    header .account_new .dd_new {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .9rem;
      height: 38px;
      /* box-shadow: 0px 3px 2px -3px black; */
      border-bottom: 1px solid #8e8e8e;
      cursor: pointer; }
      header .account_new .dd_new svg, header .account_new .dd_new i {
        margin: 0 3px; }
    header .account_new ul {
      list-style: none;
      display: none; }
  header aside {
    width: 250px;
    position: fixed;
    background: #fff;
    top: 65px;
    left: 0;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.36);
    overflow-y: scroll;
    transition: all 0.3s linear; }
    header aside .title_list {
      position: relative;
      margin: 0;
      color: #fff;
      background: #a9801d;
      padding: 5px 8px;
      padding-left: 30px;
      font-weight: 500;
      letter-spacing: 2px;
      border-radius: 0px 5px 0px 0px;
      transition: all 0.3s linear;
      cursor: pointer;
      font-size: 1rem !important; }
      header aside .title_list:hover {
        text-decoration: none; }
      header aside .title_list .span_icon {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        font-size: 1.01rem; }
      header aside .title_list .ico_right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px; }
        header aside .title_list .ico_right svg, header aside .title_list .ico_right i {
          transition: all 0.3s linear;
          transform: rotate(90deg);
          margin-top: 2px !important; }
    header aside .as_list {
      background: #fff;
      list-style: none;
      padding: 0 !important;
      border-bottom-right-radius: 5px !important;
      margin: 0 0 10px 0;
      overflow: hidden; }
      header aside .as_list li {
        box-shadow: 0px 0px 10px -3px transparent; }
        header aside .as_list li a {
          color: #7d787e;
          display: block;
          padding: 7px 10px;
          font-family: 1.1rem;
          transition: all 0.1s linear; }
          header aside .as_list li a:hover {
            text-decoration: none;
            box-shadow: 0px 0px 10px -3px black;
            transform: scale(1.03); }
  header .call_aside {
    left: -250px; }

.ew_line .owl-carousel .owl-nav, .ew_line .owl-carousel .owl-dots {
  display: none; }

.se_slider .owl-carousel {
  position: relative;
  padding: 0 40px !important; }
  .se_slider .owl-carousel img {
    border-radius: 5px; }
  .se_slider .owl-carousel .owl-stage-outer {
    position: relative;
    z-index: 30; }
.se_slider .owl-nav {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 29; }
  .se_slider .owl-nav button {
    position: absolute;
    left: 0;
    top: 0px;
    height: 100%;
    width: 30px;
    color: #fff;
    margin: 0 !important;
    /* font-size: 3rem; */
    background: #a9801d !important;
    color: #fff !important; }
    .se_slider .owl-nav button span {
      font-size: 3rem !important;
      line-height: 0 !important;
      display: block !important; }
  .se_slider .owl-nav .owl-next {
    right: 0;
    left: auto; }
.se_slider .owl-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; }
.se_slider .owl-drag div.owl-item {
  display: flex;
  justify-content: center;
  align-items: center; }
  .se_slider .owl-drag div.owl-item a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center; }

.font-heading {
  width: 100%;
  position: relative;
  padding: 15px;
  margin: 0 0 36px 0;
  font-size: 1.8rem; }
  .font-heading:after {
    content: "";
    display: block;
    background: #0d293d;
    width: calc(100% - 30px);
    height: 2px;
    position: absolute;
    right: 15px;
    top: 100%; }

.flow_aside {
  border-radius: 0px 5px 5px 0px !important; }

.slider_cs {
  background: url("../img/bg_one.jpg");
  display: block;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .slider_cs:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.57);
    z-index: 23; }
  .slider_cs .con_slider {
    color: #fff;
    position: relative;
    z-index: 100;
    max-width: 800px; }
  .slider_cs .full-inner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 40; }

.full-inner-two {
  right: -110px !important; }

.de_view {
  width: calc(100% - 250px);
  float: right; }

.g_one {
  margin-top: 50px; }

.de_full .ck_bg {
  background: #a9801d;
  border-color: #a9801d; }
  .de_full .ck_bg:focus, .de_full .ck_bg:active {
    background: #a9801d !important;
    border-color: #a9801d !important;
    outline: none;
    box-shadow: none !important; }

.vd-photos {
  border-radius: 5px;
  box-shadow: 0px 0px 6px -2px black; }

.ve_text {
  background: #fff;
  border-radius: 5px;
  color: #7d787e;
  overflow: inherit;
  position: relative;
  padding-bottom: 45px;
  box-shadow: 0px 0px 6px -2px black; }
  .ve_text .item_title {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    font-size: 1.2rem;
    font-weight: 400; }
  .ve_text .p_title {
    font-size: .9rem;
    text-align: left; }
  .ve_text .over_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .ve_text .over_btn .ck_bg {
      position: relative;
      background: #a9801d;
      border-color: #a9801d;
      color: #fff;
      border-right: none;
      border-width: 2px;
      border-left: none;
      border-radius: 0;
      font-size: .8rem;
      overflow: hidden;
      padding-left: 30px;
      top: 5px; }
      .ve_text .over_btn .ck_bg:hover, .ve_text .over_btn .ck_bg:visited {
        background: #a9801d;
        color: #fff;
        border-color: #a9801d; }
        .ve_text .over_btn .ck_bg:hover:after, .ve_text .over_btn .ck_bg:visited:after {
          border-color: #a9801d; }
      .ve_text .over_btn .ck_bg:after {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: -22px;
        background: #fff;
        height: 33px;
        width: 33px;
        border-width: 2px;
        border-color: #a9801d;
        border-style: solid;
        transform: rotate(45deg); }

@media (max-width: 768px) {
  .full-inner-two {
    right: 0 !important; }

  .con_slider {
    padding-top: 80px; }
    .con_slider h1, .con_slider .h1 {
      font-size: 2rem; }
    .con_slider h2, .con_slider .h2 {
      font-size: 1.8rem; }
    .con_slider p, .con_slider .lead {
      text-align: left !important; }

  .colo-s4 {
    position: absolute;
    top: 100%; }
    .colo-s4 .input-group {
      background: #fff;
      border-radius: 10px;
      margin-top: 10px; }

  .de_view {
    width: 100% !important; }

  .aside_cr {
    left: -250px !important; }

  .call_aside {
    left: 0px !important; }

  .con_slider .lead {
    font-size: 1rem; }

  section .de_full {
    padding-top: 40px; } }
.global_brand {
  width: 150px; }

@media (max-width: 400px) {
  .dd_new {
    font-size: .8rem; }

  .global_brand {
    width: 100px; }

  .pro_nav .hello-user {
    width: 28px !important;
    height: 28px !important; } }
.owl-item {
  padding: 0 10px; }

.slide_image {
  display: inline-block;
  width: 100%; }
  .slide_image img {
    max-width: 100%; }

.img-arti {
  margin: 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0px 0px 10px -3px black; }
  .img-arti img {
    max-width: 100%;
    display: block; }

footer {
  background: #464646;
  border-top: 2px solid rgba(185, 183, 183, 0.5803921569); }
  footer .foot_head {
    font-size: 1.1rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 0; }
  footer ul {
    list-style: none !important;
    padding: 0; }
    footer ul li {
      color: #fff;
      padding: 3px 0; }
  footer .over_footer .over_top {
    border-top: 1px solid #fff; }

footer ul li a, footer .over_footer a, .co_footer {
  font-size: 1rem;
  color: #fff;
  display: inline-block; }
  footer ul li a:hover, footer .over_footer a:hover, .co_footer:hover {
    color: #a9801d;
    text-decoration: none; }

.co_footer:hover {
  color: #fff; }

.modal {
  background: rgba(0, 0, 0, 0.7803921569); }
  .modal .modal-header {
    position: relative; }
    .modal .modal-header button {
      opacity: 1 !important;
      position: absolute;
      right: 0;
      margin: 0 !important;
      top: 0;
      height: 100%;
      background: #fff !important;
      color: #a9801d !important;
      border-left: 1px solid  #dee2e6 !important; }
      .modal .modal-header button:hover {
        background: #fff !important;
        color: #a9801d !important;
        border-left: 1px solid  #dee2e6 !important; }
  .modal form .form-group {
    position: relative;
    margin-top: 25px !important; }
  .modal form input {
    box-shadow: 0px 0px 0px 2px #a5a2a2;
    border: none; }
    .modal form input:focus {
      box-shadow: 0px 0px 0px 2px #a9801d; }
  .modal form button {
    margin-top: 25px !important;
    margin-left: 15px !important; }
  .modal .modal-title {
    color: #a9801d; }
  .modal label {
    color: #a9801d; }
  .modal button, .modal button:hover, .modal button:focus, .modal button:active {
    background: #a9801d !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important; }

.modal.show {
  z-index: 32423532; }

.border_head {
  margin-bottom: 20px !important;
  border-bottom-right-radius: 5px !important; }

.ro_ico i, .ro_ico svg {
  transform: rotate(0deg) !important; }

.clear_foucs {
  box-shadow: none;
  border: none;
  outline: none; }
  .clear_foucs:focus {
    box-shadow: none;
    border: none;
    outline: none; }

.main_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

/* width */
::-webkit-scrollbar {
  width: .3rem;
  padding: 10px; }

::-moz-scrollbar {
  width: .3rem;
  padding: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-moz-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7d787e;
  border-radius: 5px; }

::-moz-scrollbar-thumb {
  background: #7d787e;
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

::-moz-scrollbar-thumb:hover {
  background: #555; }

.dir_ar {
  direction: rtl; }

.dir_en {
  direction: ltr; }

/* width */
aside::-webkit-scrollbar {
  width: .1rem;
  padding: 10px; }

/* Track */
aside::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
aside::-webkit-scrollbar-thumb {
  background: #7d787e;
  border-radius: 5px; }

/* Handle on hover */
aside::-webkit-scrollbar-thumb:hover {
  background: #555; }

/*------------Publications-----------*/
.publication_main form {
  color: #0d293d; }
  .publication_main form label {
    color: #0d293d; }
  .publication_main form .go_btn {
    background: #a9801d !important;
    color: #fff !important;
    box-shadow: none !important; }
  .publication_main form .go_btn, .publication_main form .reset_btn {
    min-width: 150px;
    background: #fff;
    color: #0d293d;
    box-shadow: 0px 0px 8px 1px darkgrey;
    margin: 10px !important; }
  .publication_main form input:focus, .publication_main form select:focus {
    outline: none !important;
    border-color: #0d293d !important;
    box-shadow: 0px 0px 3px 0px #0d293d !important; }

.buo_a {
  background: #fff;
  box-shadow: 0px 0px 11px -3px #7d787e;
  border-radius: 5px;
  float: right;
  color: #a88028;
  font-size: .9rem; }

.bo_top {
  border-top: 1px solid #e2e2e2; }

.bo_bottom {
  border-bottom: 1px solid #e2e2e2; }

/*----Profile--------*/
.user-pro {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  position: relative; }
  .user-pro img, .user-pro .input-group, .user-pro .btn-file, .user-pro label {
    display: block;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5; }
  .user-pro .upded_img {
    z-index: 10; }
  .user-pro .input-group {
    z-index: 13;
    height: 100%; }
    .user-pro .input-group .btn-file {
      height: 100%;
      z-index: 15; }
      .user-pro .input-group .btn-file input {
        width: 100% !important;
        height: 100%;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block; }
    .user-pro .input-group label {
      top: auto;
      bottom: -8px;
      text-align: center;
      margin: 0;
      height: 50px;
      background: #5660806e;
      color: #fff; }

.for_publications {
  border-right: 1px solid #e2e2e2;
  display: flex;
  flex-wrap: wrap; }
  .for_publications:last-of-type {
    border: none; }
  .for_publications .head_pub {
    font-size: 1.1rem;
    font-weight: 600; }
  .for_publications .buo_a {
    margin-top: 20px;
    float: none !important; }
  .for_publications input {
    margin-top: 20px;
    height: 35px;
    font-size: .9rem !important;
    font-weight: 300; }
  .for_publications .a_h_n {
    align-self: flex-start;
    width: 100%; }
  .for_publications .a_p_n {
    align-self: center;
    width: 100%; }
  .for_publications .a_b_n {
    align-self: flex-end;
    width: 100%; }
  .for_publications a {
    color: #a9801d; }

.for_ed_user {
  position: relative;
  transition: all 0.1s linear;
  margin-top: 40px; }
  .for_ed_user label {
    position: absolute;
    left: 0;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848484; }
    .for_ed_user label i {
      margin: 0 5px 0 0; }
  .for_ed_user input, .for_ed_user select {
    border: none !important;
    border-bottom: 2px solid #848484  !important;
    border-radius: 0; }
    .for_ed_user input:focus {
      box-shadow: none !important;
      outline: none !important; }
  .for_ed_user .btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 43;
    color: #7d787e; }
    .for_ed_user .btn:focus {
      box-shadow: none !important;
      outline: none !important; }

.fly_div {
  box-shadow: 4px 0px 7px -6px black; }

.head-div {
  color: #7d787e; }

.a_global {
  color: #ee1c23;
  float: none !important;
  margin: 20px 0; }
  .a_global:hover {
    color: #a9801d; }

@media (min-width: 768px) {
  .dir_for_grid {
    direction: rtl; }

  .dir_for_grid_en {
    direction: ltr; } }
table {
  border-radius: 5px; }
  table thead {
    background: #a9801d;
    color: #fff; }
  table tbody {
    background: #fff;
    font-size: .9rem;
    color: #7d787e; }
    table tbody a {
      color: #a9801d; }
      table tbody a:hover {
        color: #a9801d; }

.inp_pub {
  background: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 14px -7px #929292; }

/*--------Myprofile---------*/
.pro_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: .89rem;
  font-weight: 400; }
  .pro_nav .dd_new {
    border-bottom: none !important; }
  .pro_nav .hello-user {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 5px; }
    .pro_nav .hello-user img {
      display: block;
      max-width: 100%; }
  .pro_nav ul {
    width: 150px !important;
    top: 115% !important; }

.my_profile_maine .user-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px !important;
  padding: 10px !important;
  background: #ffff;
  border: 9px solid white;
  box-shadow: 0px 0px 12px -3px #bbb;
  width: 140px;
  height: 140px; }
  .my_profile_maine .user-pro img {
    display: block;
    position: static;
    transform: scale(0.8); }
.my_profile_maine .head_profile {
  color: #7d787e; }
  .my_profile_maine .head_profile h2, .my_profile_maine .head_profile .h2, .my_profile_maine .head_profile h3, .my_profile_maine .head_profile .h3 {
    font-weight: 300; }

.list_ul, .list_ul_a {
  padding: 0;
  list-style: none; }
  .list_ul li, .list_ul_a li {
    font-size: .9rem; }
    .list_ul li a, .list_ul_a li a {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: none !important; }
      .list_ul li a img, .list_ul_a li a img {
        display: block;
        max-width: 100%; }

.list_ul_a li {
  font-size: .9rem;
  display: inline-block !important;
  vertical-align: middle;
  margin: 3px 3px; }
  .list_ul_a li a {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: none !important;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px #7d787e;
    transition: all 0.1s linear;
    cursor: pointer; }
    .list_ul_a li a:hover {
      transform: scale(1.4);
      text-decoration: none; }
    .list_ul_a li a img {
      display: block;
      max-width: 100%; }
  .list_ul_a li .a_list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; }
  .list_ul_a li .tw_a {
    background: #337ab7;
    color: #fff; }
  .list_ul_a li .fc_a {
    background: #4965a2;
    color: #fff; }
  .list_ul_a li .in_a {
    background: #1687c2;
    color: #fff; }
  .list_ul_a li .ube_a {
    background: #e42c26;
    color: #fff; }
  .list_ul_a li .link_a {
    background: #f1610a;
    color: #fff; }

.arti_profile {
  padding-top: 20px;
  padding-bottom: 20px; }
  .arti_profile .coll_for_u {
    border-radius: 5px;
    /* padding: 27px 0px; */
    border: 1px solid #e2e2e2;
    width: 300px;
    height: 160px;
    color: #a9801d;
    transition: all 0.1s linear;
    margin: auto;
    background: #fff; }
    .arti_profile .coll_for_u:hover {
      text-decoration: none;
      box-shadow: 0px 0px 1px -1px black;
      transform: scale(1.03); }
    .arti_profile .coll_for_u p {
      color: #7d787e; }
      .arti_profile .coll_for_u p:last-of-type {
        margin: 0 !important; }
    .arti_profile .coll_for_u .coll_con {
      padding: 7px;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }

.for_authors {
  color: #a9801d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  border-radius: 13px;
  box-shadow: 0px 0px 7px -3px black;
  padding: 3px 10px;
  transition: all 0.1s linear; }
  .for_authors:hover {
    color: #a9801d;
    text-decoration: none;
    transform: scale(1.03); }
  .for_authors .photo_authors {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-right: 3px;
    padding: 3px; }
    .for_authors .photo_authors img {
      display: block;
      max-width: 100%;
      transform: scale(0.8); }

.div_area {
  border: 1px solid #a9801d;
  color: #7d787e;
  border-radius: 5px;
  overflow: hidden;
  margin: 30px 0;
    /*/ .btn{
    //     background: #607D8B;
    //     color: $color_app_w;

    // }*/ }
  .div_area .form-control {
    border: 1px solid #e2e2e2;
    border-right: 0;
    border-left: 0; }
    .div_area .form-control:focus {
      box-shadow: none !important; }
  .div_area .log_div {
    padding: 5px 10px;
    background: #fff;
    color: #a9801d;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.1s linear;
    box-shadow: 0px 0px 10px -2px transparent;
    border-radius: 5px; }
    .div_area .log_div:hover {
      box-shadow: 4px 4px 8px -3px black; }
  .div_area .head_area {
    background: #a9801d;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300; }
  .div_area .d_drop {
    display: none; }
    .div_area .d_drop p {
      font-size: .8rem; }
  .div_area i {
    transition: all 0.1s linear; }
  .div_area .ro_ico i, .div_area .ro_ico svg {
    transform: rotate(90deg) !important; }

.inp_pub h4 > i, .inp_pub .h4 > i {
  margin-right: 4px; }

.link_d {
  display: inline-block;
  padding: 3px;
  text-align: center;
  color: #7d787e;
  margin: 10px 5px;
  background: #fff;
  box-shadow: 0px 0px 10px -3px transparent;
  border-radius: 5px;
  min-width: 100px;
  transition: all 0.1s linear;
  border: none;
  cursor: pointer; }
  .link_d:focus {
    text-decoration: none;
    transform: scale(1.1);
    box-shadow: 4px 4px 7px 1px #989898;
    outline: none; }
  .link_d:hover {
    text-decoration: none;
    transform: scale(1.1);
    box-shadow: 4px 4px 7px 1px #989898; }
  .link_d .span_d {
    display: block;
    font-size: 1.2rem;
    overflow: hidden; }
    .link_d .span_d img {
      max-width: 100%;
      display: block; }

.color_links {
  color: #ed5c25; }
  .color_links:hover {
    color: #ed5c25; }

.color_twit {
  color: #1da1f2; }
  .color_twit:hover {
    color: #1da1f2; }

.color_fc {
  color: #4267b2; }
  .color_fc:hover {
    color: #4267b2; }

.color_in {
  color: #0077b5; }
  .color_in:hover {
    color: #0077b5; }

.block_v .form-control {
  border: 2px solid #8c8c8c !important; }

.div-shear {
  display: none !important; }

.active_shear {
  display: block !important; }

.div-images {
  margin: auto;
  width: 156px;
  max-height: 250px;
  overflow: hidden; }
  .div-images img {
    border-radius: 5px; }

.flow_photo {
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.1s linear;
  overflow: hidden;
  box-shadow: 0px 0px 8px -3px transparent; }
  .flow_photo img {
    border-radius: 5px;
    transition: all 0.1s linear; }
  .flow_photo:hover {
    box-shadow: 0px 0px 8px -3px black; }
    .flow_photo:hover img {
      transform: scale(1.1); }

.writing_main .btn {
  background: #fff !important;
  color: #a9801d;
  outline: none !important;
  border: none;
  box-shadow: 0px 0px 7px -1px #8c8c8c; }
  .writing_main .btn i, .writing_main .btn svg {
    margin: 0 5px; }

.a_colors {
  color: #a9801d; }
  .a_colors:hover {
    color: #a9801d; }

.btn-save {
  background: #a9801d !important;
  color: #fff !important;
  min-width: 150px;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 3px 5px;
  font-weight: 300; }
  .btn-save i, .btn-save svg {
    margin: 0 4px; }
  .btn-save:hover {
    color: #fff;
    text-decoration: none; }

.color_pagination .active .page-link {
  background: #a9801d;
  border: #a9801d; }
.color_pagination a {
  color: #a9801d; }
  .color_pagination a:hover {
    color: #a9801d; }

.border_out {
  border: 7px solid #ecf0f3; }

.btn {
  cursor: pointer; }

.ne_ajax {
  display: none; }

.ne_ajax_1 {
  display: block !important; }
  .sub_me{position: relative;}
.sub_me .un_sub{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 30;
}

.form-control.inpt_gro{
    border: 0 !important;
    background: #fff !important;
    font-weight: 600 !important;
    color: #ed5d37;
    font-size: 1.1rem;
}
.copy_role{
    background: #fff !important;
    color: #a88027 !important;
    box-shadow: 0px 0px 11px -3px black;

}
/*# sourceMappingURL=style.css.map */
