$color_app_w : #fff;
$color_app_one : #a9801d;
$color_app_two : #0d293d;
$color_app_btn : #b18600;
$color_app_text_1 :#7d787e;
$bg_main : #ecf0f3;

.color_app_text_1{
    color: $color_app_text_1;
}
.color_app_one{
    color: $color_app_one;
}
body{
    background: $bg_main;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 33333;
    nav{
        background: $color_app_w;
        position: relative;
        box-shadow: 0px 0px 12px -2px black;
        .gulp_ico{
            height: 100%;

        }
        .ico_bar{
            color: $color_app_one;
            width: 40px;
            height: 40px;
            font-size: 1.4rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:active{
                background: $bg_main;
            }
        }
    }
    .input-group{
        border-radius: 0;
        box-shadow: 0px 3px 2px -3px black;
        input{
            border: none !important;
        }
        .dropdown-menu{
            li{
                padding: 2px 10px;
            }
            a{
                color: $color_app_text_1;
                display: block;
                &:hover{
                    border-bottom: 1px solid black;
                    text-decoration: none;
                }
            }
        }
    }
    .db-ew{
        position: absolute;
        right: 15px;
        top: 0;
    }
    .account_new{
        justify-content: center;
        align-content: center;
        position: relative;
        ul{
            display: block;
            position: absolute;
            top: 97%;
            right: -15px;
            width: 103px;
            background: $color_app_w;
            border-radius: 5px;
            padding: 5px;
            border: 1px solid #8e8e8e;
            li{
                padding: 5px 0;
                overflow: hidden;
                a{
                    display: block;
                    color: $color_app_text_1; 
                    font-size: .9rem;
                    transition: all 0.1s linear;
                    padding: 5px;
                    &:hover{
                        box-shadow: 0px 0px 10px -3px black;
                        transform: scale(1.03);
                        text-decoration: none;
                    }
                }
            }
        }
        .dd_new{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .9rem;
            height: 38px;
            /* box-shadow: 0px 3px 2px -3px black; */
            border-bottom: 1px solid rgb(142, 142, 142);
            cursor: pointer;
            svg, i{
                margin: 0 3px;
            }     
        }
        ul{
            list-style: none;
            display: none;
            li{
                a{
                    
                }
            }
        }
    }
    // --------Aside
    aside{
        width: 250px;
        position: fixed;
        background: $color_app_w;
        top: 65px;  
        left: 0;
        border-radius: 0px 5px 5px 0px;
        box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.36);
        overflow-y: scroll;
        transition: all 0.3s linear;
        .head-main{
            // background: $bg_main;
        }
        .title_list{
            position: relative;
            margin: 0;
            color: #fff;
            background: #a9801d;
            padding: 5px 8px;
            padding-left: 30px;
            font-weight: 500;
            letter-spacing: 2px; 
            border-radius: 0px 5px 0px 0px;
            transition: all 0.3s linear;
            cursor: pointer;
            font-size: 1rem !important;
            &:hover{
                text-decoration: none;
            }
            .span_icon{
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                font-size: 1.01rem;
            }
            .ico_right{
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                svg, i{
                    transition: all 0.3s linear;
                    transform: rotate(90deg); 
                    margin-top: 2px !important;
                }
            }
        }
        .as_list{
            background: $color_app_w;
            list-style: none;
            padding: 0 !important;
            // border-bottom: 10px solid $bg_main;
            border-bottom-right-radius: 5px !important;
            margin: 0 0 10px 0;
            overflow: hidden;

            li{
                box-shadow: 0px 0px 10px -3px transparent;
                &:hover{

                }
                a{
                    color: $color_app_text_1;
                    display: block;
                    padding: 7px 10px;
                    font-family: 1.1rem;
                    transition: all 0.1s linear;
                    &:hover{
                        text-decoration: none;
                        box-shadow: 0px 0px 10px -3px black;
                        transform: scale(1.03);
                    }
    
                }                
            }

        }
    }
    .call_aside{
        left: -250px;
    }

}

// -----------------
.ew_line{
    .owl-carousel{
        .owl-nav, .owl-dots{
            display: none;
        }
    }
}

.se_slider{
    .owl-carousel{
        position: relative;
        padding: 0 40px !important;
        img{
            border-radius: 5px;
        }
        .owl-stage-outer{
            position: relative;
            z-index: 30;
        }
    }
    .owl-nav{
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        width: 100%;
        margin: 0 !important;
        z-index: 29;
        button{
            position: absolute;
            left: 0;
            top: 0px;
            height: 100%;
            width: 30px;
            color: #fff;
            margin: 0 !important;
            /* font-size: 3rem; */
            background: $color_app_one !important;
            color: $color_app_w !important;
            span{
                font-size: 3rem !important;
                line-height: 0 !important;
                display: block !important;
            }
        }
        .owl-next{
            right: 0;
            left: auto;
        }
    }
    .owl-dots{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .owl-drag{

        div.owl-item{
            a{
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.font-heading{
    width: 100%;
    position: relative;
    padding: 15px;
    margin: 0 0 36px 0;
    font-size: 1.8rem;
    &:after{
        content: "";
        display: block;
        background: $color_app_two;
        width: calc(100% - 30px);
        height: 2px;
        position: absolute;
        right: 15px;
        top: 100%;
    }
}

.flow_aside{
    border-radius: 0px 5px 5px 0px !important;
}

// ----------Slider - One
.slider_cs{
    background: url("../img/bg_one.jpg");
    display: block;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(4, 4, 4, 0.57);
        z-index: 23;
    }
    .con_slider{
        color: $color_app_w;
        position: relative;
        z-index: 100;
        max-width: 800px;
    }
    .full-inner{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 40;
    }
}


.full-inner-two{
    right: -110px !important;   
}


// ----------Section Articale
.de_view{
    width: calc(100% - 250px);
    float: right;
}
.g_one{
    margin-top: 50px;
}
.de_full{
    .ck_bg{
        background: $color_app_one;
        border-color: $color_app_one;
        &:focus, &:active{
            background: $color_app_one !important;
            border-color: $color_app_one !important;
            outline: none;
            box-shadow: none !important; 
        }
    }
}
.vd-photos{
    border-radius: 5px;
    box-shadow: 0px 0px 6px -2px black;
}
// -------------------------------//
.ve_text{
    background: #fff;
    border-radius: 5px;
    color: $color_app_text_1;
    overflow: inherit;
    position: relative;
    padding-bottom: 45px; 
    box-shadow: 0px 0px 6px -2px black;
    .item_title{
        border-bottom: 1px solid #ddd;
        padding: 5px 0;
        font-size: 1.2rem;
        font-weight: 400;
    }  
    .p_title{
        font-size: .9rem;
        text-align: left;
    }
    .over_btn{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .ck_bg{
            position: relative;
            background: $color_app_one;
            border-color: $color_app_one;;
            color: #fff;
            border-right: none;
            border-width: 2px;
            border-left: none;  
            border-radius: 0;
            font-size: .8rem; 
            overflow: hidden;
            padding-left: 30px;
            top: 5px;
            &:hover, &:visited{
                background: $color_app_one;
                color: #fff;
                border-color: $color_app_one;
                &:after{
                    border-color:  $color_app_one;
                }
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: -1px;
                left: -22px;
                background: $color_app_w;
                height: 33px;
                width: 33px;
                border-width: 2px;
                border-color:  $color_app_one;
                border-style: solid;
                transform: rotate(45deg);            

            }
        }
    }
}

@media(max-width: 768px){
    .full-inner-two{
        right: 0 !important;
    }
    .con_slider{
        padding-top: 80px;
        h1, .h1{
            font-size: 2rem;
        }
        h2, .h2{
            font-size: 1.8rem;
        }
        p, .lead{
            text-align: left !important;
        }
    }
    .colo-s4{
        position: absolute;
        top: 100%;
        .input-group{
            background: #fff;
            border-radius: 10px;
            margin-top: 10px;
        }
    }
    .de_view{
        width: 100% !important;
    }
    .aside_cr{
        left: -250px !important; 
    }
    .call_aside{
        left: 0px !important;
    }
    .con_slider{
        .lead {
            font-size: 1rem;
        }
    }

    section{
        .de_full{
            padding-top: 40px;
        }
    }
}
.global_brand{
    width: 150px;
}
@media(max-width: 400px){
    .dd_new{
        font-size: .8rem;
    }
    .global_brand{
        width: 100px;
    }
    .pro_nav .hello-user{
        width: 28px !important;
        height: 28px !important;
    }
}
// --------------Slider
.owl-item{
    padding: 0 10px;
}
.slide_image{
    display: inline-block;
    width: 100%;
    img{
        max-width: 100%;
    }
}
.img-arti{
    margin: 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: $color_app_w;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 0px 10px -3px black;
    img{
        max-width: 100%;
        display: block;
    }
}

// -----Footer
footer{
    background: #464646;
    border-top: 2px solid rgba(185, 183, 183, 0.5803921568627451);
    .foot_head{
        font-size: 1.1rem;
        color: $color_app_w;
        border-bottom: 1px solid $color_app_w;
        padding: 5px 0;
    }
    ul{
        list-style: none !important;
        padding: 0;
        li{
            color: $color_app_w;
            padding: 3px 0;
            a{
                @extend  %all_a;
            }
        }
    }
    .over_footer{

        .over_top{
            border-top: 1px solid $color_app_w;

        }
        a{
            @extend %all_a;
        }
    }
}
%all_a, .co_footer{
    font-size: 1rem;
    color: $color_app_w;
    display: inline-block;
    &:hover{
        color: $color_app_one;
        text-decoration: none;
    }    
}
.co_footer{
    &:hover{
        color: $color_app_w;
    }
}
// -------------Main

.modal{
//    z-index: 32423532;
    background: rgba(0, 0, 0, 0.7803921568627451);
    .modal-header{
        position: relative;
        button{
            opacity: 1 !important;
            position: absolute;
            right: 0;
            margin: 0 !important;
            top: 0;
            height: 100%;
            background: $color_app_w !important;
            color: $color_app_one  !important;
            border-left: 1px solid  #dee2e6 !important;
            &:hover{
                background: $color_app_w !important;
                color:  $color_app_one !important;
                border-left: 1px solid  #dee2e6 !important;
            }
        }

    }
    form{
        .form-group{
            position: relative;
            margin-top: 25px !important;
        }
        input{
            box-shadow: 0px 0px 0px 2px #a5a2a2;
            border: none;
            &:focus{
               box-shadow: 0px 0px 0px 2px $color_app_one;
            }
        }
        button{
            margin-top: 25px !important;
            margin-left: 15px !important;
        }
    }
    .modal-title{
        color: $color_app_one;
    }
    label{
        color: $color_app_one;
    }
    button, button:hover, button:focus, button:active{
        background: $color_app_one !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}
.modal.show{
    z-index: 32423532;
}
.border_head{
    // border-bottom: 10px solid $bg_main;
    margin-bottom: 20px !important;
    border-bottom-right-radius: 5px !important;
}
.ro_ico{
    i, svg{
        transform: rotate(0deg) !important;
    }
}


.clear_foucs{
    box-shadow: none;
    border: none;
    outline: none;
    &:focus{
        box-shadow: none;
        border: none;
        outline: none;
    }
}
.main_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

/* width */
::-webkit-scrollbar {
    width: .3rem;
    padding: 10px;
  }
  ::-moz-scrollbar {
    width: .3rem;
    padding: 10px;
  } 
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-moz-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color_app_text_1;
    border-radius: 5px; 
  }
  ::-moz-scrollbar-thumb {
    background: $color_app_text_1;
    border-radius: 5px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  ::-moz-scrollbar-thumb:hover {
    background: #555; 
  }
  .dir_ar{
      direction: rtl;
  }

  .dir_en{
    direction: ltr;
}

/* width */
aside::-webkit-scrollbar {
    width: .1rem;
    padding: 10px;
  }
  
  /* Track */
  aside::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  aside::-webkit-scrollbar-thumb {
    background: $color_app_text_1;
    border-radius: 5px; 
  }
  
  /* Handle on hover */
  aside::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/*------------Publications-----------*/
.publication_main{
    form{
        color: $color_app_two;
        label{
            color:  $color_app_two;
        }
        .go_btn{
            background: $color_app_one !important;
            color: $color_app_w !important;
            box-shadow: none !important;
        }
        .go_btn, .reset_btn{
            min-width: 150px;
            background: #fff;
            color: $color_app_two ;
            box-shadow: 0px 0px 8px 1px darkgrey;
            margin: 10px !important;
        } 
        input, select{
            &:focus{
                outline: none !important;
                border-color: $color_app_two !important;
                box-shadow: 0px 0px 3px 0px $color_app_two !important;
            }
        }      
    }

}
.buo_a{
    background: #fff;
    box-shadow: 0px 0px 11px -3px #7d787e;
    border-radius: 5px;
    float: right;
    color: #a88028;
    font-size: .9rem;
}
.bo_top{
    border-top: 1px solid #e2e2e2;
}
.bo_bottom{
    border-bottom: 1px solid #e2e2e2;
}

/*----Profile--------*/

.user-pro{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;
    img, .input-group, .btn-file, label{
        display: block;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
    }
    .upded_img{
        z-index: 10;

    }
    .input-group{
        z-index: 13;
        height: 100%;
        .btn-file{
            height: 100%;
            z-index: 15;
            input{
                width: 100% !important;
                height: 100%;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
        }
        label{
            top: auto;
            bottom: -8px;
            text-align: center;
            margin: 0;
            height: 50px;
            background: #5660806e;
            color: #fff;
        } 
    }
}

.for_publications{
    border-right: 1px solid #e2e2e2;
    display: flex;
    flex-wrap: wrap;
    &:last-of-type{
        border: none;
    }
    .head_pub{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .buo_a{
        margin-top: 20px;
        float: none !important;
      }
    input{
        margin-top: 20px;
        height: 35px;
        font-size: .9rem !important;
        font-weight: 300;
    }
    .a_h_n{
        align-self: flex-start;
        width: 100%;
    }

    .a_p_n{
        align-self: center;
        width: 100%;
    }

    .a_b_n{
        align-self: flex-end;
        width: 100%;
    }
    a{
        color: $color_app_one;
    }

} 

.for_ed_user{
    position: relative;
    transition: all 0.1s linear;
    margin-top: 40px;
    label{
        position: absolute;
        left: 0;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #848484;
        i{
            margin: 0 5px 0 0;
        }
    }

    input{
        border: none !important;
        border-bottom: 2px solid #848484  !important;
        border-radius: 0;
        &:focus{
            box-shadow: none !important;
            outline: none !important;
        }
    }
    .btn{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 43;
        color: $color_app_text_1;
        &:focus{
            box-shadow: none !important;
            outline: none !important;
        }
    }
}
.fly_div{
    box-shadow: 4px 0px 7px -6px black;
}
.head-div{
    color: $color_app_text_1;
}

.a_global{
    color:  #ee1c23;
    &:hover{
        color: $color_app_one;
    }
    float: none !important;
    margin: 20px 0;
    
}

@media(min-width: 768px){
    .dir_for_grid{
        direction: rtl;
    }
    .dir_for_grid_en{
        direction: ltr;
    }
}

table{
    border-radius: 5px;
    thead{
        background: $color_app_one;
        color: $color_app_w;
    }
    tbody{
        background: #fff;
        font-size: .9rem;
        color: $color_app_text_1;
        a{
            color: $color_app_one;
            &:hover{color: $color_app_one;}
        }
    }
}


.inp_pub{
    background: $color_app_w;
    border-radius: 5px;
    box-shadow: 7px 6px 14px -7px #929292;
}

/*--------Myprofile---------*/
.pro_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: .89rem;
    font-weight: 400;
    .dd_new{
        border-bottom: none !important;

     }
    .hello-user{
        display: inline-block;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        overflow: hidden;
        vertical-align: middle;
        margin: 0 5px;
        img{
            display: block;
            max-width: 100%;
        }
    }

    ul{
        width: 150px !important;
        top: 115% !important;
    }
}


.my_profile_maine{
    .user-pro{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px !important;
        padding: 10px !important;
        background: #ffff;
        border: 9px solid white;
        box-shadow: 0px 0px 12px -3px #bbb;
        width: 140px;
        height: 140px;

        img{
            display: block;
            position: static;
            transform: scale(.8)
        }
    }
    .head_profile{
        color: $color_app_text_1;
        h2, .h2, h3, .h3{
            font-weight: 300;
        }
    }
}

.list_ul, .list_ul_a{
    padding: 0;
    list-style: none;
    li{
        font-size: .9rem;
        a{
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: none !important;
            img{
                display: block;
                max-width: 100%;
            }
        }
    }
}

.list_ul_a{
    li{
        font-size: .9rem;
        display: inline-block !important;
        vertical-align: middle;
        margin: 3px 3px;
        a{
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            color: none !important;
            overflow: hidden;
            box-shadow: 0px 0px 3px 0px #7d787e;
            transition: all 0.1s linear;
            cursor: pointer;
            &:hover{
                transform: scale(1.40);
                text-decoration: none;
            }
            img{
                display: block;
                max-width: 100%;
            }
        
        }
        .a_list{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color_app_w;
        }
        .tw_a{
            background: #337ab7;
            color: $color_app_w;
        }
        .fc_a{
            background: #4965a2;
            color: $color_app_w;
        }

        .in_a{
            background: #1687c2;
            color: $color_app_w;
        }
        
        .ube_a{
            background: #e42c26;
            color: $color_app_w;
        }
        
        .link_a{
            background: #f1610a;
            color: $color_app_w;
        }
        

    }    
}
.arti_profile{
    padding-top: 20px;
    padding-bottom: 20px;
    .coll_for_u{
        border-radius: 5px;
        /* padding: 27px 0px; */
        border: 1px solid #e2e2e2;
        width: 300px;
        height: 160px;
        color: $color_app_one;
        transition: all 0.1s linear;
        margin: auto;
        background: $color_app_w;
        &:hover{
            text-decoration: none;
            box-shadow: 0px 0px 1px -1px black;
            transform: scale(1.030);
        }
        p{
            &:last-of-type{
                margin: 0 !important;
            }
            color: #7d787e;

        }
        .coll_con{
            padding: 7px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

.for_authors{
    color: $color_app_one;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    border-radius: 13px;
    box-shadow: 0px 0px 7px -3px black;
    padding: 3px 10px;
    transition: all 0.1s linear;
    &:hover{
        color: $color_app_one;
        text-decoration: none;
        transform: scale(1.030);
    }
    .photo_authors{
        display: flex;
        justify-content: center !important;
        align-items: center;
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin-right: 3px;
        padding: 3px;

        img{
            display: block;
            max-width: 100%;
            transform: scale(0.8);
        }
    }
}

.div_area{
    border: 1px solid $color_app_one;
    color: $color_app_text_1;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0;
    .form-control{
        border: 1px solid #e2e2e2;
        border-right: 0;
        border-left: 0;
        &:focus{
            box-shadow: none !important;
        }
    }
    .log_div{
        padding:  5px 10px;
        background: #fff;
        color: $color_app_one;
        margin: 10px 0;
        cursor: pointer;
        transition: all 0.1s linear;
        box-shadow: 0px 0px 10px -2px transparent;
        border-radius: 5px;
        &:hover{
            box-shadow: 4px 4px 8px -3px black;
        }
    }
    .head_area{
        background: $color_app_one;
        color: $color_app_w;
        font-size: 1.3rem;
        font-weight: 300;
    }
    .d_drop{
        display: none;
        p{font-size: .8rem}
    }
    i{
        transition: all 0.1s linear;
    }
    .ro_ico{
        i, svg{
            transform: rotate(90deg) !important;
        }
    }
    /*/ .btn{
    //     background: #607D8B;
    //     color: $color_app_w;

    // }*/
    // .btn{
    //     background: #fff !important;
    //     color: #a9801d;
    //     outline: none !important;
    //     border: none;
    //     box-shadow: 0px 0px 7px -1px #8c8c8c;
    //     i{
    //         margin: 0 5px;
    //     }
    // }
}
.inp_pub{
    h4, .h4{
        > i{
            margin-right: 4px;
        }
    }
}
.link_d{
    display: inline-block;
    padding: 3px;
    text-align: center;
    color: $color_app_text_1;
    margin: 10px 5px;
    background: #fff;
    box-shadow: 0px 0px 10px -3px transparent;
    border-radius: 5px;
    min-width: 100px;
    transition: all 0.1s linear;
    border: none;
    cursor: pointer;
    &:focus{
        text-decoration: none;
        transform: scale(1.1);
        box-shadow: 4px 4px 7px 1px #989898;
        outline: none;
    }
    &:hover{
        text-decoration: none;
        transform: scale(1.1);
        box-shadow: 4px 4px 7px 1px #989898;
        }
    .span_d{
        display: block;
        font-size: 1.2rem;
        overflow: hidden;
        img{
            max-width: 100%;
            display: block;
        }
    }

}
.color_links{
    color: #ed5c25;
    &:hover{
        color: #ed5c25;
    }
}
.color_twit{
    color: #1da1f2;
    &:hover{
        color: #1da1f2;    
    }
}
.color_fc{
    color: #4267b2;
    &:hover{
        color: #4267b2; 
    }
}


.color_in{
    color: #0077b5;
    &:hover{
        color: #0077b5; 
    }
}

.block_v{
    // .btn{
    //     background: #fff !important;
    //     color: #a9801d;
    //     outline: none !important;
    //     border: none;
    //     box-shadow: 0px 0px 7px -1px #8c8c8c;
    // }
    .form-control{
        border: 2px solid #8c8c8c !important;
    }
}
.div-shear{display: none !important;}
.active_shear{
    display: block !important;
}

.div-images{
    margin: auto;
    width: 156px;
    max-height: 250px;
    overflow: hidden;
    img{
        border-radius: 5px;
    }
}
.flow_photo{
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.1s linear;
    overflow: hidden;
    box-shadow: 0px 0px 8px -3px transparent;
    img{
        border-radius: 5px;
        transition: all 0.1s linear;
    }
    &:hover{
        box-shadow: 0px 0px 8px -3px black;
        img{
            transform: scale(1.1);
        }
    }
}
.writing_main{
    .btn {
        background: #fff !important;
        color: #a9801d;
        outline: none !important;
        border: none;
        box-shadow: 0px 0px 7px -1px #8c8c8c;
        i, svg{
            margin: 0 5px;
        }
    }
}
.a_colors{
    color: $color_app_one;
    &:hover{
        color: $color_app_one;
    }
}

.btn-save{
    background: $color_app_one !important;
    color: $color_app_w !important;
    min-width: 150px;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 3px 5px;
    font-weight: 300;
    i, svg{
        margin: 0 4px;
    }
    &:hover{
        color: $color_app_w;
        text-decoration: none;
    }
}

.color_pagination{

    
        .active{
            .page-link {
                background: $color_app_one; 
                border: $color_app_one;
            }
        }
        a{
            color: $color_app_one;
            &:hover{
                color: $color_app_one;
            }
        }
}

.border_out{
    border: 7px solid $bg_main;
}
.btn{cursor: pointer;}

.ne_ajax{
    display: none;
}
.ne_ajax_1{
    display: block !important;
}